.button-container {
  height: 83px;
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #D741A7;
  font-size: 38px;
  color: #fff;
  border-radius: 25px;
  border: 1px solid white;
  cursor: pointer;
  user-select: none;
}
.button-container:hover {
  background-color: #3A1772;
  color: #fff;
}

.operator {
  background-color: #F2CD5D; 
}
.operator:hover {
  background-color: #DEA54B;
  color: #fff;
}
