
.screen-container {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 25px;
  margin-bottom: 25px;
}
.screen-container-text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  color: #fff;
  margin-right: 15px;
}

